@import 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.css';

/*promary: background: #F5F8FE;?/
/*primary texto: background: #1C1C1C;*/
/*Buttons*/
.btn-white {
  background-color: white;
  outline: none;
}

.btn-save {
  color: white;
  background-color: #3D578F !important;
  font-weight: 300;
}

.btn-save-white-border {
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid #3D578F;
}

.bg-cnt{
  background-color: #F5F8FE !important;
}
.bg-active-cnt {
  background: #DAE1F1 !important;
}


.btn-white-border {
  background-color: white;
  outline: none;
  border: 1px solid #88a7bb;
}


.btn-cnt-button-rad-8 {
  background-color: #F5F8FE;
  color: #1C1C1C  !important;
  border-radius: 5px;
}

.btn-cnt-button-rad-8-round {
  background-color: #F5F8FE;
  color: #1C1C1C  !important;
  border-radius: 40px;
  margin-left: 5px;
} 


.btn-cnt-button-rad-8-green {
  background-color: #4CA74B;;
  color: #ffffff !important;
  border-radius: 5px;
}

.btn-bg-blue {
  padding: 8px 24px 8px 24px;
  gap: 4px;
  border-radius: 4px;
  opacity: 0px;
  background: #3d708f;
  color: #ffff;
}

.btn-bg-blue-round {
  padding: 8px 24px 8px 24px;
  border-radius: 30px;
  opacity: 0px;
  background: #6292ca;
  color: #ffff;
}

.btn_approve {
  padding: 8px;
  gap: 4px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #e2fff2;
}

.btn_detach {
  padding: 8px;
  gap: 4px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #ffd3d5;
}

/*Inputs*/
.form-control-c {
  border: none !important;

  &:focus {
    border: none;
  }

  &:active {
    border: none;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.checkboxp{
  accent-color: #3D708F;
}
.checkbox-theme{
  accent-color: #3D578F !important;
}

/*Tables*/
.bg-header-footer {
  background-color: #f8fafc;
}

/*Tags*/
.text-cnt{
  color: #3D708F !important;
}

.text-cnt-pgrey{
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #525252 !important;
}

.text-cnt-label{
  color: #3D578F !important;
}

.text-buttons-cnt{
  color: #183981 !important;
}

.text_labels-inputs{
  font-weight: 500 !important;
  font-size: larger !important;
}

.bg-tag-success {
  padding: 3px 6px;
  background-color: #f8fafc;
}

.tag-red-round {
  padding: 1px 8px 1px 8px;
  gap: 4px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #fedad9;
  color: #ad070d;
}

.tag-yellow-round {
  padding: 1px 8px 1px 8px;
  gap: 4px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #fff3b9;
  color: #71600e;
}


.tag-blue-round {
  padding: 1px 8px 1px 8px;
  gap: 4px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #c8e2ff;
  color: #104887;
}

.tag-green-round {
  padding: 1px 8px 1px 8px;
  gap: 4px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #e2fff2;
  color: #244c3a;
}

.tag-gray-round {
  padding: 1px 8px 1px 8px;
  gap: 4px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #f1f1f1;
  color: #525252;
}

.tag-bluesky-round {
  padding: 1px 8px 1px 8px;
  gap: 4px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #f8fafc;
  color: #104887;
}


/*Modals*/
.modal-title-c {
  margin-bottom: 0;
  line-height: 0.5;
  font-weight: 900;
  letter-spacing: -1px;
}

.modal-label-c {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  text-align: left;
}

/* Important part */
.modal-dialog {
  border-radius: 24px !important;
  overflow-y: initial !important;
}

.modal-header {
  padding-top: 35px !important;
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/*Labels*/
.lbl-bread-subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.lbl-bread-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

/*Nav*/
.main-header .nav-item > a {
  padding: 15px !important; 
  padding-top:0px !important;
  padding-bottom:0px !important;

  font-weight: 600;
}

.main-header .nav-link {
  height: 1.8rem !important;
}

/*##SECTIONS*/
/*Home*/
.header-section-text-cnt {
  font-size: large;
  font-weight: 700;
}

.react-photo-album--photo {
  border-radius: 10px;
}

/*IMG*/
.img-square{
 
  max-height: 250px;
}

/*header*/
.bg-color-header{
  background-color: #F5F8FE;

}