.card-primary.card-outline-tabs > .card-header a.active {
  border-top: none !important;
  border-bottom: 1.5px solid #3d708f !important;
  color: #3d708f;
}

.nav-item > a {
  padding: 20px 20px;
  color: #3d708f;
  font-weight: 600;
}

.image-center {
  margin-left: 40%;
}

.mapa {
  border-radius: 5px;
}
/*Texts*/
.title-color {
  color: #3d708f;
}

.title-weight {
  font-weight: 800;
}

.title-size {
  font-size: 20px;
}

.simple-text-size {
  font-size: 16px !important;
}

/*Box*/
.container-blue {
  background: #f8fafc;
  padding: 24px 16px;
  border-radius: 4px;
}

.container-category {
  padding: 24px 16px;
  border-radius: 4px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  margin-left: 50%;
}

.disable-style{
  background-color: #dddddd9e;
  color: #C6C6C6;
}

/*TWO COLUMNS*/
.two-column-container {
  display: flex;
  flex-wrap: wrap;
}

.two-column-item {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 5px;
}

/*IF IS TEXT*/
.measurement-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.variable-name {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}

.measurement-value {
  flex: 1;
  text-align: right;
  padding-left: 10px;
}

/*GEOMORPHOLOGY*/

.content-microcuenca{
  background: #F1F3ED;
  padding: 24px 16px;
  border-radius: 4px;
}

.d-flow-root{
  display: flow-root;
}